.page_container {
  //
}
.page_container::before {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}
.logo {
  // margin-top: 11.0714rem;
  margin: 18.136vh auto 20px;
  // width: 185px;
  width: 13.2143rem;
  span {
    background: linear-gradient(135deg, #ffffff 0%, #717171 64%, #345b52 100%);
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
  }
  img {
    // width: 185px;
    width: 100%;
    // height: 30px;
  }
}

.search-input {
  display: flex;
  justify-content: space-between;
  max-width: 47.4286rem;
  margin: auto;
  margin-bottom: 2.8571rem;
  .input {
    // display: block;
    height: 44px;
    border-color: transparent !important;
    background-color: var(--home-input-bg);
    transition: background-color var(--transition-val);
    box-shadow: none;
    border-radius: 5px;
    * {
      background-color: transparent;
    }
    svg {
      width: 20px;
      height: 20px;
    }
    input {
      color: var(--text-color);
    }
  }
}

.shortcut_box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  width: 30%;
  .shortcut_box_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    cursor: pointer;
    .shortcut_box_item_icon {
      margin-top: 16px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: var(--shortcut-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        width: 90%;
        border-radius: 50%;
      }
    }
    .shortcut_box_item_name {
      color: var(--text-color);
      margin-top: 6px;
      width: 100%;
      height: 36px;
      border-radius: 36px;
      padding: 2px 8px;
      text-align: center;
      line-height: 36px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
    }
  }
}

.to-files {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-left: 20px;
  // padding: 0 .75rem;
  background-color: var(--home-input-bg);
  transition: background-color var(--transition-val);
  border-radius: 0.25rem;
  cursor: pointer;
  svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 13.2143rem;
    margin: 5.7143rem auto 0.3571rem;
  }
  .to-files {
    margin-left: 0.7143rem;
    flex-shrink: 0;
  }
  .search-input {
    .input {
      min-width: 20.6429rem;
    }
  }
  .shortcut_box {
    width: 100%;
    .shortcut_box_item {
      width: 33.3333%;
      // .shortcut_box_item_icon {
      //   margin-top: 16px;
      //   width: 48px;
      //   height: 48px;
      //   border-radius: 50%;
      //   background-color: #ddd;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      // }
      // .shortcut_box_item_name {
      //   color: var(--text-color);
      //   margin-top: 6px;
      //   width: 100%;
      //   height: 36px;
      //   border-radius: 36px;
      //   padding: 2px 8px;
      //   text-align: center;
      //   line-height: 36px;
      //   overflow: hidden;
      //   white-space: nowrap;
      //   text-overflow: ellipsis;
      //   font-size: 14px;
      // }
    }
  }
}
