@import '../global';

.title {
  background: rgb(121, 242, 157);
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.main_layout {
  background: var(--layout-bg);
  transition: background var(--transition-val);
}

.site_layout {
  // margin-right: ;
  min-height: 100vh;
  background-color: transparent;
  background-size: 100% calc(100vh - 148px);
}

.site_layout .site_layout_background {
  padding: 0;
  background: #fff;
}

.site_layout .layout_header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 20px;
  height: 60px;
  box-sizing: content-box;
  background-color: var(--header-bg-pc);
  transition: background-color var(--transition-val);
  z-index: 5;
  .layout_header_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .explore_logo {
      cursor: pointer;
      img {
        width: 133px;
        vertical-align: middle;
      }
      span {
        text-align: center;
        font-style: italic;
        background: linear-gradient(
          135deg,
          #ffffff 0%,
          #717171 64%,
          #345b52 100%
        );
        color: transparent;
        background-clip: text;
        letter-spacing: 2px;
        font-size: 16px;
        margin-left: 0.5rem;
      }
    }
    .header-search {
      width: 32.8571rem;
      height: 2.2857rem;
      margin-left: 5.4286rem;
      border-radius: 0.2143rem;
      .input {
        width: 100%;
        height: 100%;
        border: none;
        line-height: unset;
        background-color: var(--input-bg);
        input {
          color: var(--text-color);
          background-color: transparent;
        }
      }
    }
    .expand {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.2857rem;
      height: 2.2857rem;
      margin-left: 0.7143rem;
      background-color: var(--input-bg);
    }
  }
  .layout_header_right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
    .account_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-family: var(--font-bold);
      cursor: pointer;
      > span {
        margin-right: 2.8571rem;
      }
      span:first-child {
        margin-right: 0.7143rem;
      }
      svg {
        width: 17.5px;
        height: 17.5px;
      }
    }
    .set_theme_btn {
      margin-right: 40px;
      svg {
        width: 28px;
        height: 28px;
      }
    }
    .setting_btn {
      svg {
        width: 21px;
        height: 28px;
      }
    }
    .uniPass_info {
      margin-right: 0.5rem;
      cursor: pointer;
      .uniPass_svg {
        width: 38px;
        border-radius: 50%;
      }
      .email_address {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 10px;
        .email {
          font-weight: bold;
        }
        p {
          line-height: 1.5rem;
        }
      }
    }
  }
  .expand-content {
    position: absolute;
    // top: 4.2857rem;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4.5714rem;
    padding-left: 13.3571rem;
    // background-color: var(--header-bg);
    backdrop-filter: blur(10px);
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    animation-fill-mode: forwards;
    nav {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .expand-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: 1.4286rem;
        border-radius: 50%;
        background-color: var(--shortcut-bg);
        cursor: pointer;
        img {
          width: 60%;
        }
      }
    }
  }
}

.site_layout .layout_header::after,
.site_layout .layout_footer::after {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-color-08);
}

.site_layout .layout_header::after {
  bottom: -2px;
}

.site_layout .layout_content {
  color: #000;
  margin: 60px auto 68px !important;
  width: 1440px;
  max-width: 1440px;
  // background: var(--layout-bg);
  background: transparent;
  padding: 0 1.4286rem;
  min-height: 280px;
}

.setting_modal {
  // color: #000;
  color: var(--text-color);
  background-color: var(--main-bg);
  transition: color var(--transition-val),
    background-color var(--transition-val);
}

.site_layout .layout_footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 68px;
  padding: 0 1rem;
  font-size: 1.7143rem;
  background-color: var(--footer-bg);
  transition: background-color var(--transition-val);
  > div {
    width: 33.3333%;
  }
  .layout-footer-info {
    font-size: 16px;
  }
  .layout_footer_left,
  .layout_footer_right {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    cursor: pointer;
    .opacity_6 {
      opacity: 0.6;
      margin-right: 0.5rem;
    }
    > * {
      margin-left: 1rem;
    }
    .to_info,
    .to_peers {
      display: flex;
      align-items: center;
      margin-left: 0;
    }
    .to_info img,
    .to_peers img {
      width: 20px;
    }
    .to_info span,
    .to_peers span {
      color: #1fd5ae;
      font-family: explore-semibold;
      margin-left: 10px;
    }
    .up_speed,
    .down_speed {
      color: #b82f2f;
      img {
        width: 6px;
        height: 10px;
      }
      span {
        margin-left: 0.3rem;
      }
    }
    .down_speed {
      color: #1fd557;
    }
    .version_info,
    .connected_peer_info {
      color: var(--text-color);
      transition: color var(--transition-val);
    }
  }
}

.site_layout .layout_footer::after {
  top: -2px;
}

.ant_layout_sider {
  height: 100vh;
}

.layout_sider {
  .menu {
    font-family: explore-semibold;
  }
}

.sider_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.ant-table-cell {
  color: #000 !important;
}

.menu_btn {
  // display: none;
}

.menu-item-title {
  margin-left: 15px;
  font-size: 16px;
  color: var(--text-color);
}

.menu_icon {
  filter: drop-shadow(0 0 0 0 #fff);
}

.menu_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btnS {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .set_theme_btn {
      margin-right: 16px;
      svg {
        width: 28px;
        height: 28px;
      }
    }
    .setting_btn {
      svg {
        width: 21px;
        height: 28px;
      }
    }
  }
}

// @media screen and (max-width: 992px) {
@media screen and (max-width: 1024px) {
  .to_info span,
  .to_peers span,
  .version_info,
  .connexted_full {
    // display: none;
  }
  .menu_btn {
    display: block;
  }
  .site_layout .layout_header {
    background-color: var(--header-bg-mobile);
    .layout_header_left {
      .header-search,
      .expand {
        display: none;
      }
    }
    .layout_header_right {
      .account_info {
        margin-right: 0.7143rem;
        .blanceSvg svg {
          width: 1.5rem;
        }
        .account-info-mobile {
          display: none;
        }
      }
      .set_theme_btn {
        margin-right: 0.7143rem;
      }
    }
  }
  .site_layout .layout_content {
    // touch-action: none;
    padding: 0 1.1429rem;
  }
  .site_layout .layout_footer {
    justify-content: space-between;
    > div {
      width: unset;
    }
    .layout-footer-info {
      display: none;
    }
  }
}

@media screen and (max-width: 1439px) {
  // .to_info span,
  // .to_peers span,
  .version_info,
  .connexted_full {
    display: none;
  }
  .site_layout .layout_content {
    // max-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .ant_layout_sider {
    position: fixed;
    height: 100vh;
    z-index: 20;
    // background-color: #fff;
  }
  .site_layout {
    margin-right: 0;
  }
  .sider_mask {
    // display: block;
  }
}

@media screen and (max-width: 460px) {
  .to_info span,
  .to_peers span {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .account_address {
    // right: 17rem;
    right: 2rem;
  }
}
